:root {
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --hover-color:#fafafa;
    --primary-color:#eb2f06;;
    --star-gold-color:#ffce3e;
    --header-height: 129px;
    --navbar-height: 34px;
    --header-with-search-height: calc(var(--header-height) - var(--navbar-height));
    --bg-primary-color:linear-gradient(180deg, #eb2f06, #ff4757);
}

* {
    box-sizing: inherit;
}

html {
    font-family: 'Roboto', sans-serif;
    font-size: 62.5%;
    line-height: 1.6rem;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}
li {
    list-style: none;
}
/* responsive */
.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__full-width {
    width: 100%;
}

.grid__row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
}

.grid__column-2 {
    padding-left: 5px;
    padding-right: 5px;
    width: 16.6667%;
}

.grid__column-2-4 {
    padding-left: 5px;
    padding-right: 5px;
    width: 20%;
}
.grid__column-10 {
    padding-left: 5px;
    padding-right: 5px;
    width: 83.3333%;
}

/* animation */

@keyframes top-up {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes zoom-out {
    from {
        opacity: 0;
        transform: scale(0);
        transform-origin: 80% 0%;
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

/* media */

/* @media (max-width: 800px) {
    .header__navbar-list:last-child {
        visibility: hidden;
        opacity: 0;
        display: none;
    }
    .header__navbar-list:first-child .header__navbar-item:first-child {
        visibility: hidden;
        opacity: 0;
        display: none;
    }
    .header-wrapper {
        height: 25px;
        line-height: 25px;
    }

    .header__navbar-item:nth-child(2) {
        margin-left: 20px;
    }
} */

/* su li jquery modal */

.hienra {
    opacity: 1;
    visibility: visible;
    animation: top-up ease-in 0.3s;
}
/* pagination */
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: 100;
}

.pagination-item--active .pagination-item__link {
    background: var(--primary-color);
    color: var(--white-color);
}
.pagination-item__link {
    color: #939393;
    min-width: 40px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    display: block;
    border-radius: 3px;
    margin: 0 14px;
}
.pagination-item--active .pagination-item__link:hover {
    filter: brightness(90%);
    transition: 0.3s;
}
