* {
    margin: 0;
    padding: 0;
}


header.header {
    height: var(--header-height);
    background: var(--white-color);
}

.header-wrapper {
    height: var(--navbar-height);
    background: #333e48;
    line-height: var(--navbar-height);
}

nav.header__navbar {
    display: flex;
    justify-content: space-between;
}


li.header__navbar-item {
    display: inline-block;
    
}

.header__navbar-item {
    margin: 0 9px;
    position: relative;
}

.header__navbar-item, 
.header__navbar-item-link {
    text-decoration: none;
    color: var(--white-color);
    font-size: 1.2rem;
    font-weight: 300;
}

.header__navbar-item:hover{
    color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
}


.header__navbar-item:hover .header__navbar-item-link{
    color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
}

.header__navbar-item--strong {
    font-weight: 500;

}
.header__navbar-icon--big {
    font-size: 1.8rem;

}

.header__navbar-icon--small {
    font-size: 1.2rem;

}


.header__navbar-item--separate::after {
    content: "";
    width: 1px;
    height: 14px;
    position: absolute;
    background: #606870;
    right: -10px;
    top: 50%;
    transform: translateY(-50%);
}

.icon-white {
    color: var(--white-color);
}

.header__navbar-icon {
    margin-right: 4px;
}


.header__qa-code {
    width: 180px;
    height: 180px;
    position: absolute;
    top: 0px;
}

.header__qa-code img {
    width: 100%;
}

.header__dowload {
    width: 180px;
    height: 33px;
    position: absolute;
    top: 180px;
    display: flex;
    justify-content: space-evenly;
}

.header__navbar-item:first-child:hover  .header__qa {
    display: block;
}

.header__qa {
    position: absolute;
    width: 180px;
    height: 210px;
    background: var(--white-color);
    top: 34px;
    display: none;
    animation: top-up ease-out 0.2s;
}

.header__notify {
    position: absolute;
    top: 34px;
    width: 400px;
    left: -335px;
    background: #fff2ee;
    border: 1px solid#ededed;
    display: none;
    animation: zoom-out ease-out 0.1s;
    will-change: opacity, transform;
    z-index: 10;
}

.header__notify-header, .header__notify-footer {
    background: var(--white-color);
    height: 40px;
    line-height: 40px;
    cursor: default;
}
.header__notify-header h3 {
    color: #dbdbdb;
    font-weight: 320;
    padding: 0px 10px;
}

.header__notify-footer-link{
    color: var(--text-color);
    text-align: center;
    font-weight: 200;
    font-size: 1.5rem;
    display: block;
    width: 100%;
    text-decoration: none;
}

.header__notify-item {
    height: 56px;
    padding: 8px 10px;
    position: relative;
}
.header__notify-item:hover {
    background: var(--white-color);
}

.anh,.tieu-de-chinh,.tieu-de-phu {
    position: absolute;
    color: var(--text-color);
}

.anh{
    top: 8px;
    left: 10px;
}

.tieu-de-chinh {
    left: 55px;
    font-size: 1.8rem;
    top: 0;
}

.tieu-de-phu {
    left: 55px;
    top: 20px;
    font-size: 1.4rem;
}

.header__navbar-item:first-child:hover .header__notify {
    display: block;
}

.header__notify::after {
    content: "";
    width: 30px;
    height: 30px;
    background: var(--white-color);
    position: absolute;
    z-index: 10;
    top:-5px;
    right: 5px;
    transform: rotate(45deg);
}

/* log in */

.form__login, .form__register {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    visibility: hidden;
    opacity: 0;
    
}

.form__login-overlay, .form__register-overlay {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    position: absolute;

}

.form__login-modal, .form__register-modal {
    width: 400px;
    height: 400px;
    z-index: 10;
    background: var(--white-color);
    margin:auto;
    border-radius: 5px;
    position: relative;
    overflow: hidden;

}


button.btn {
    outline: none;
    height: 35px;
    padding: 5px;
    border: none;
    background: transparent;
    cursor: pointer;
    border-radius: 2px;
}

button.btn.btn--primary {
    font-size: 1.3rem;
    margin-left: 121px;
    width: 100px;
    background: linear-gradient(180deg, #eb2f06, #ff4757);
    color: var(--white-color);
}

button.btn.btn--back {
    margin-left: 40px;
    margin-top: 50px;
    font-size: 1.;
    font-size: 1.3rem;
    width: 100px;
}

input.email, input.pwd {
    display: block;
    width: 80%;
    height: 35px;
    margin: 5px auto;
    margin-bottom: 20px;
    font-size: 1.6rem;
}

span.btn-register, span.btn-login {
    color: #eb2f06;
    font-size: 1.6rem;
    display: inline-block;
    margin-left: 185px;
    padding: 5px;
    cursor: pointer;
}

.form__login-header h3, .form__register-header h3 {
    font-size: 1.8rem;
    font-weight: 400;
    display: inline-block;
    margin-top: 30px;
    margin-left: 30px;
}

.form__login-social a , .form__register-social a{
    display: inline-block;
    padding: 3px 20px;
    color: var(--white-color);
    text-decoration: none;
    background: #007eff;
    border-radius: 5px;
    font-size: 1.2rem;
}

a.form__register-social--gg, a.form__login-social--gg {
    background: var(--bg-primary-color);
}

.form__login-social , .form__register-social{
    bottom: 10px;
    height: 40px;
    width: 100%;
    margin-top: 45px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: #8080801f;
    position: absolute;
    bottom: 0;
}

/* header search */

.header-width-search {
    height: var(--header-with-search-height);
    background: var(--white-color);
    box-shadow: 1px 0px 2px #dedede;
    
}

.header__search {
    height: 100%;
    display: flex;
    align-items: center;
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.header__search-main {
    display: flex;
    align-items: center;
    border: 1px solid #efefef;
    box-shadow: 1px 2px #d8d8d8;
}

.header__search-input {
    height: 100%;
    border: none;
    border-radius: 3px;
    outline: none;
    padding-left: 16px;
    font-size: 1.5rem;
    flex: 1;
}

.header__search-select {
    height: 80%;
    width: 100px;
    text-align: center;
    border-left: 2px solid #ccc;
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
    position: relative;
}

.header__search-select:hover .header__search-option {
    display: block;
}

.header__search-option {
    position: absolute;
    top: 130%;
    list-style: none;
    background: #fafafa;
    border-radius: 3px;
    display: none;
}

.header__search-option::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 20px;
    top: -10px;
    left: 0;
}

.header__search-option-list {
    height: 34px;
    line-height: 34px;
    width: 110px;
    padding: 0 8px;
}

.header__search-option-list:hover {
    background: #d8d8d8;
}

.header__search-option-list i {
    padding-left: 4px;
    color: transparent;
}

.header__search-option-list i.header__search-option-icon-active {
    color: #eb2f06;
}

.header__search-btn-search {
    color: var(--white-color);
    background: #333e48;
    height: 80%;
    margin: 0px 4px;
    width: 60px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.6rem;
    cursor: pointer;
}

.header__search-btn-search:hover {
    background: #dedede;
}
.header__search-logo {
    width: 15%;
    height: 60px;
    text-align: center;
    cursor: pointer;
}

.header__search-logo-img {
    height: 100%;
}

.header__search-main {
    height: 40px;
    background: var(--white-color);
    border-radius: 3px;
    width: 75%;
}

.header__search-cart {
    width: 10%;
    text-align: center;
    font-size: 2.4rem;
    color: #eb2f06;
    cursor: pointer;
}







